.single {
    padding: 2px 16px;
    background: #9a9999;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #9a9999;
    transition: all 0.3s;
    color: rgb(91, 91, 91);
}
.single:hover {
    border-left: 8px solid #ffbf49;
}